body{
    margin: 0;
}

img{
    margin-top: 7px;
}


.navbar{
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
    background-color: #f9f9f9;
}

@media only screen and (max-width:880px) {
    .comment {
     margin-top: 180px;
    }
    iframe{
        width:100%;
        text-align: center;
        height: 120%;

    }
  }